@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family:'Noto Sans TC', sans-serif;
    padding-top:55px;
}
a {
    text-decoration: none;
}
nav {
    display: grid;   
    align-items: center;
    grid-template-columns: 1fr minmax(min(360px, 100%), 1200px) 1fr;
    padding: 5px 0 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #E8E8E8;
}
.navitems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2/3;
}

.navitems  h2 {
    grid-column: 1/2;
    padding: 5px 0px 5px 15px;
}
.navitems h2 a{
    color: #448899;
}
.navitems  ul {
    grid-column: 2/3;
    text-align: end;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px 0 0;
    font-weight: normal;
}
.navitems ul li:nth-of-type(1) {
    padding-right: 10px;

}
.navitems  li a {
    color: #666666;
}

footer {
    background-color: gray;
    color: whitesmoke;
    height: 85px ;
    font-size: 14px;
    line-height: 85px;
    text-align: center;

}