[class*="grid-"] {
    display: grid;
    gap: 15px;
}
body {
    color: var(--secondary-gray-70);
}
h4 {
    color: var(--primary-cyan-70);
    font-size: 17px;
}
h3 {
    font-size: 19px;
    font-weight: 600;
}

.loader{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-gray-10);
    z-index: 1;
}

.loader-active {
    display: flex;
}
.loader span {
    display: inline-block;
    background-color: var(--primary-cyan-70);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    animation: spin 1s infinite ease-in-out;
}

.loader span:nth-child(1) {
    top: 46%;
    left: 50%;
    background-color: var(--primary-cyan-50);
    animation-delay: -2s;
}
.loader span:nth-child(2) {
    top: 48%;
    left: 53.5%;
    background-color: var(--primary-cyan-20);
    animation-delay: -1.825s ;
}
.loader span:nth-child(3) {
    top: 52%;
    left: 53.5%;
    background-color: var(--primary-cyan-70);
    animation-delay: -1.65s;
}
.loader span:nth-child(4) {
    top: 54%;
    left: 50%;
    background-color: var(--primary-cyan-50);
    animation-delay: -1.475s;
}
.loader span:nth-child(5) {
    top: 52%;
    left: 46.5%;
    background-color: var(--primary-cyan-20);
    animation-delay: -1.3s;
}
.loader span:nth-child(6) {
    top: 48%;
    left: 46.5%;
    background-color: var(--primary-cyan-50);
    animation-delay: -1.125s;
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0);

    }
}
.container{
    margin: 45px auto;
    max-width: 1200px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.wrap {
    margin: 0 15px;
    border-bottom: 1px solid var(--secondary-gray-20);
}
.grid-card, .grid-contact, .grid-payment {
    max-width: 1000px;
    margin: 40px auto;
}
.grid-card {
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 340px), 1fr));
}
.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.grid-card-info {
    padding: 25px 0px;
    position: relative;
}
.fa-trash-can {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
}
.fa-trash-can:hover {
    border-radius: 6px;
    background-color: var(--secondary-gray-20);
    opacity: .7;
}
.grid-form {
    padding-top: 20px ;
}
.grid-form p{
    font-weight: 700;
}
input, .tpfield{
    width: 230px;
    height: 38px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--secondary-gray-20);
    box-shadow: 0 0 2px var(--secondary-gray-20) ;
}
.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.has-error .tappay-field-focus{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success .tappay-field-focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
#cc-number-group, #cc-expiration-group, #ccv-group {
    display: flex;
    align-items: center;
}
/* ----------------------------- */
.checkout {
    text-align: end;
    margin: 40px 15px 0 15px;
    padding: 0 15px;
}
.sum {
    padding: 20px 5px;
}
.confirm-btn {
    margin-top: 5px;
    color: var(--additional-white);
    background-color: var(--primary-cyan-70);
    padding: 10px 20px;
    font-size: 19px;
    font-weight: 400;
    border-radius: 7px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.no-data {
    padding: 35px 0px;
    font-size: 16px;
}
.no-data:empty {
    display: none;
}

@media (min-width: 500px) {
    .grid-card{
        grid-template-columns: minmax(220px, 266px) minmax(220px, 700px);
        gap: 18px;
    }
    .grid-card, .grid-contact, .grid-payment {
        padding: 0 10px;
    }
    .grid-card-info, .card-img {
        padding: 0 10px;
    }
    .greeting {
        max-width: 1000px;
        margin: auto;
        padding: 0px 10px;
    }
    .fa-trash-can {
        top: 0px;
        right: 0px;
        font-size: 20px;
    }

}