{% extends 'base.html' %}
{% block title %}
<title></title>
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='attraction.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="grid-container">
        <div class="carousel">
            <button class="arrow-button left">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button class="arrow-button right">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
        <div class="grid-profile">
            <div class="booking-form">
                <form>
                    <h5>訂購導覽行程</h4>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="schedule date">選擇日期：    <input type="date" id="date-selection">
                        <!-- <i class="fa-regular fa-calendar"></i> -->
                    </div>
                    <div class="schedule time">選擇時間：
                        <input type="radio" id="forenoon" name="time" value="forenoon" checked>
                        <label for="forenoon">上半天</label>
                        <input type="radio" id="afternoon" name="time" value="afternoon">
                        <label for="afternoon">下半天</label>
                        <div class="schedule cost">導覽費用：<span>新台幣2000元</span><span>新台幣2500元</span></div>
                    </div>
                    <button type="submit">開始預約行程</button>
                </form>
            </div>
        </div>
        <div class="description">
        </div>
        <div class="address">
            <h4>景點地址：</h4>
        </div>
        <div class="transport">
            <h4>交通方式：</h4>
        </div>
    </div>
</div>




{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='attraction.js')}}"></script>

{% endblock %}