<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Taipei Trip 台北一日遊 2.0</title>
    {% endblock %}
    
    <script src="https://kit.fontawesome.com/6681bc69b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'layout.css')}}">
    {% block link %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% endblock %}
</head>
<body>
    <nav>
        <div class="navitems">
            <h2><a href="/">台北一日遊</a></h2>
            <ul>
                <li><a href="#">預定行程</a></li>
                <li><a href="#">登入/註冊</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        <div class="container">
            <div class="card-wrapper">
                <div class="card">
                    <a href="">
                        <img src='https://picsum.photos/300/200?random=1'>
                        <div class="attraction-name">平安鐘</div>
                        <div class="card-body">
                            <div class="mrt">忠孝復興</div>
                            <div class="category">公共藝術</div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
                <div class="card">
                    <img src='https://picsum.photos/300/200?random=1'>
                    <div class="attraction-name">平安鐘</div>
                    <div class="card-body">
                        <div class="mrt">忠孝復興</div>
                        <div class="category">公共藝術</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock%}
    </main>
    <footer>
        COPYRIGHT &copy; 2021台北一日遊
    </footer>

    {% block script%}
    {% endblock %}

    
</body>
</html>